RSS url to someone's Diigo bookmark collection according to a certain tag can not be detected properly

**Demo or Self hosted**

-   [x] Demo
-   [x] Self hosted

**Describe the bug**
Can not distinguish RSS links below:
https://www.diigo.com/rss/profile/melissaadkins?query=#myfav
https://www.diigo.com/rss/profile/melissaadkins?query=%23myfav
One can click these two links to see the difference. Not sure it's your issue or Diigo's though. Perhaps related to URL encode.

**To Reproduce**
Steps to reproduce the behavior:
```\sub https://www.diigo.com/rss/profile/melissaadkins?query=#myfav```
```\sub https://www.diigo.com/rss/profile/melissaadkins?query=%23myfav```
The same feed items will be fetched and shown because they are treated as the same RSS url.

**Expected behavior**
Someone's full Diigo bookmark collection is not I want. Its collection filtered by a certain tag is what I'm interested in. Hope the NodeRSSbot can successfully fetch items from the RSS url to someone's Diigo bookmark collection according to a certain tag.

**Screenshots / Logs**
[![6T6Bss.png](https://z3.ax1x.com/2021/03/23/6T6Bss.png)](https://imgtu.com/i/6T6Bss)
[![6T6sZq.png](https://z3.ax1x.com/2021/03/23/6T6sZq.png)](https://imgtu.com/i/6T6sZq)


 5702bec This commit should fix the issue. This commit is come from https://github.com/miniflux/v2/pull/541

According to [RFC 2396 Section 2-2](https://tools.ietf.org/html/rfc2396#section-2.2), `https://www.diigo.com/rss/profile/melissaadkins?query=#myfav` is not a valid url. Though it will be stored in database, You should use `https://www.diigo.com/rss/profile/melissaadkins?query=%23myfav` instead.
